*{
    margin: 0;
  }
  
  header {
    background-image: linear-gradient(black, #1e3a5f);
    position:relative;
  }
  
  .logo_esquina{
    position:absolute
  }
  
  .contenedor {
    display: flex;
    justify-content: center;
    align-self: top;
  }
  
  .logo {
    width: 50%;
  }
  
  body{
    background-color: #1e3a5f;
    
  }