header {
  height: 200px;
  background-color: black
}
.contenedor {

  display: flex;
  justify-content: center;
}

.logo {
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
