header {
  height: 200px;
  background-color: black;
  background-image: linear-gradient(black, #1e3a5f);
  
}
.contenedor {

  display: flex;
  justify-content: center;
  align-self: top;
}

.logo {
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
