*{
  margin: 0;
}

header {
  background-image: linear-gradient(black, #1e3a5f);
}
.contenedor {
  display: flex;
  justify-content: center;
  align-self: top;
}

.logo {
  width: 45%;
}
.contenedor2{
  
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.kratos2{
  width: 50%;
  
}

.coco{
  width: 50%;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body{
  background-color: #1e3a5f;
  
}
